.navbar {
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 100;
}

.footer {
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 99;
  user-select: none;
}

.app {
    width: 100%;
    background: #2d2d2d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    min-height: 100vh;
}