.tic-tac-toe {
    display: inline-block;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.game_container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.surr {
    margin-bottom: 15px;
    font-size: 1.1em;
}

.turn {
    text-align: center;
    display: flex;
    width: 300px;
    justify-content: space-around;
    margin-bottom: 20px;
    font-size: 2em;
    transition: color .2s;
}

.turn span {
    transition: color .2s;
}

.players {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
}

.note {
    margin-top: 50px;
    font-size: 0.7em;
    text-align: center;
}

.row {
    display: flex;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    border: 1px solid #333;
    cursor: pointer;
}



.cell:hover {
    background-color: #fff;
    color: #980505;
}
