.greetings_wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    justify-content: center;
    padding: 30px;
    user-select: none;
}

.header {
    font-size: 5em;
    margin-bottom: 20px;
}

.intro {
    font-size: 2em;
}

.click_info {
    font-size: 2em;
    margin-bottom: 20px;
}

.login_btn {
    display: flex;
    background-color: #980505;
    padding: 15px 40px;
    font-size: 2em;
    border-radius: 40px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.2s;
}

.login_btn:hover {
    background-color: #fff;
    color: black;
}

