.greetings_wrapper {
    height: 100%; /* Use viewport height for full height */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center vertically */
    text-align: center; /* Center text within h1 and p */
    padding: 30px;
    user-select: none;
}

.header {
    font-size: 3em; /* Adjusted font size for better visual balance */
    margin-bottom: 20px;
}

.intro,
.click_info {
    font-size: 2em;
    margin-bottom: 20px;
}

.login_btn {
    display: inline-block; /* Removed flex display */
    background-color: #980505;
    padding: 15px 40px;
    font-size: 2em;
    border-radius: 40px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.2s;
}

.login_btn:hover {
    background-color: #fff;
    color: black;
}

@media (max-width: 1300px) {
    .header {
        font-size: 2em; /* Adjusted font size for better responsiveness */
    }

    .intro,
    .click_info,
    .login_btn {
        font-size: 1.5em; /* Adjusted font size for better responsiveness */
    }
}
